*.o
*.moc.cpp
*_moc.cpp
*.qm
*.gz
*.xz
*.bz2
*.html
*.swp
Makefile
Makefile.in
configure
config.h
config.h.in
aclocal.m4
config.guess
config.sub
config.log
config.status
compile
depcomp
install-sh
missing
mkinstalldirs
stamp-h1
INSTALL
autom4te.cache/
src/.deps/
src/ams
src/config.h.in~
tags
test-driver
