[Desktop Entry]
Name=Alsa Modular Synth
Comment=Real time MIDI controlled synthesizer
Exec=ams --jack
Icon=ams_32
Terminal=false
Type=Application
StartupNotify=true
Encoding=UTF-8
